html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto; /* Allow scrolling */
  font-family: Arial, sans-serif; /* Set a default font family */
}


/* --------------- SET UP PAGE BANNER AND SUB BANNER  --------------- */

/* Holds banner and left sidebar using Flexbox */
#container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping of flex items */
  height: calc(100% - 100px); /* Adjust height to account for the taller banner */
  width: 100%;
  overflow: auto; /* Allow scrolling */
}

/* Creates main banner */
#banner {
  height: 50px;
  width: 100%;
  background-color: #4CAF50; /* Green background */
  color: white;
  text-align: center;
  line-height: 50px; /* Center text vertically */
  font-size: 36px; /* Increase font size */
  font-weight: bold; /* Make text bold */
  font-family: 'Oswald', sans-serif; /* Use Oswald font */
}

/* Creates sub banner */
#subBanner {
  height: 50px;
  width: 100%;
  background-color: #bbdabb; /* Light green background */
  color: rgb(0, 0, 0);
  text-align: center;
  line-height: 50px; /* Center text vertically */
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; /* Allow wrapping of flex items */
}

/* Style for the bullet points in the sub banner */
#subBanner ul {
  list-style: none; /* Remove default list style */
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping of list items */
  justify-content: center; /* Center the list items */
}

#subBanner li {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
  position: relative;
}

#subBanner li:not(:last-child)::after {
  content: "•"; /* Add bullet symbol */
  margin-left: 10px;
  margin-right: 10px;
  color: black; /* Set bullet color */
}


/* --------------- SET UP MAP AND SEARCH LIST  --------------- */

/* Creates sidebar on left */
#sidebar {
  width: 33.33%;
  background-color: #eeeeee; /* Optional: Add a background color to the left div */
  padding: 10px;
  overflow-y: auto; /* Allow vertical scrolling if content overflows */
  display: flex;
  flex-direction: column;
}

/* Create middle bar to adjust map and list width */
#resizer {
  width: 5px;
  cursor: ew-resize;
  background-color: #ccc;
}

/* Creates map view on right */
#viewDiv {
  width: 66.67%;
  height: 100%; /* Ensure the map takes full height */
  overflow: auto; /* Allow scrolling */
}

/* ---------- Style for map widgets */
.esri-legend {
  font-size: 10px; 
  padding: 4px; 
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 4px;
}

.esri-layer-list {
  font-size: 10px;
  padding: 4px; 
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 4px; 
}


/* Style for headings */
h2 {
  font-size: 22px; 
  font-weight: bold; 
  color: #333; 
}

/* Style for paragraphs */
p {
  font-size: 16px;
  line-height: 1.5; 
  color: #666; 
}


/* --------------- Media query for smaller screens  --------------- */
@media (max-width: 600px) {
  #banner {
    height: auto;
    flex-direction: column; /* Stack items vertically */
  }

  #subBanner {
    height: auto; /* Allow the height to adjust based on content */
    padding: 10px 0; /* Add padding for better spacing */
    flex-direction: column; /* Stack items vertically */
  }

  #subBanner ul {
    padding-left: 0;
  }

  #subBanner li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }

  #subBanner li:not(:last-child)::after {
    content: "•"; /* Add bullet symbol */
    margin-left: 10px;
    margin-right: 10px;
    color: black; /* Set bullet color */
  }

  #container {
    flex-direction: column;
    height: auto; /* Allow the height to adjust based on content */
  }

  #sidebar,
  #viewDiv {
    width: 100%;
    height: 50vh;
  }

}



/* --------------- SET UP BOTTOM CONTAINER INFORMATION  --------------- */

#bot_banner {
  height: 50px;
  width: 100%;
  background-color: #4CAF50; /* Green background */
  color: white;
  text-align: left;
  padding: 0px; /* Add padding to the banner */
  line-height: 50px; /* Center text vertically */
  font-size: 36px; /* Increase font size */
  font-weight: bold; /* Make text bold */
  font-family: 'Oswald', sans-serif; /* Use Oswald font */
}

#bot_banner strong {
  margin-left: 40px; /* Add margin to the left of the text */
}

#bot_container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping of flex items */
  height: calc(100% - 100px); /* Adjust height to account for the taller banner */
  width: 100%;
  max-height: 600px;
   /* Allow scrolling */
}

#bot_leftbar {
  width: 40%;
  background-color: #eeeeee; 
  padding: 10px;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
}

#bot_leftbar h2 {
  margin-left: 40px; /* Add margin to the bottom of the heading */
}

#bot_leftbar p {
  margin-left: 40px; /* Add margin to the bottom of the paragraph */
}

#bot_rightbar {
  width: 60%;
  background-color: #eeeeee; 
  padding: 10px;
  overflow-y: auto; 
  display: flex;
  flex-direction: column;
}

/* ------- Add styles for the image carousel */
.carousel {
  width: 100%;
  max-width: 600px;
  max-height: 400px;
  margin: 20px auto;
}

.carousel img {
  width: 600px;
  height: auto;
  max-width: 600px; /* Set a maximum width for the images */
  max-height: 400px; /* Set a maximum height for the images */
  object-fit: cover;
  object-position: center; 
  display: block;
  margin: 0 auto;
}

.carousel_caption {
  text-align: center;
  margin-top: 10px;
  display: block;
}

.carousel_caption .swipe_icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-right: 8px;
}

.carousel_caption p {
  display: inline;
  font-size: 16px;
  color: #666;
}



/* --------------- MISC.  --------------- */

/* Add record button to map */
.addRecordBtn {
  position: absolute;
  z-index: 10;
  bottom: 40px;
  left: 40px;
  background-color: #af4c4c;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}
.addRecordBtn:hover {
  background-color: #813737;
  transform: scale(1.1); /* Grow to 110% of the original size on hover */
}

/* Style for the search form */
#searchForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

#searchInput {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#searchForm button {
  padding: 10px;
  background-color: #4CAF50; /* Green background */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

#searchForm button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Style for search results */
#searchResults {
  margin-top: 20px;
}

.result-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}




